<div class="stepsdemo-content">
  <p-card>
    <!-- <ng-template pTemplate="title">
      Subscription Information
    </ng-template> -->
    <div class="space-between-container">
      <h2>
        Subscription Information
      </h2>
      <h4
        *ngIf="
          subscriptionInformation.duration && subscriptionInformation.amount
        "
      >
        Price: {{ price }}
        <br />
        <i
          class="pi pi-clock"
          style="font-size: 1rem; white-space: break-spaces;"
        >
          {{ subscriptionInformation.duration.code }}
        </i>
        <i
          class="pi pi-cloud"
          style="font-size: 1rem; white-space: break-spaces;"
        >
          {{ subscriptionInformation.amount.code }}
        </i>
      </h4>
    </div>
    <!--
    <div class="card">
      <h5>Advanced</h5> -->
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12 p-md-3">
        <label for="duration">Duration</label>
        <p-dropdown
          [options]="Months"
          (onChange)="calculatePrice()"
          [(ngModel)]="subscriptionInformation.duration"
          placeholder="Select Duration"
          optionLabel="name"
          [showClear]="true"
        ></p-dropdown>
        <small
          *ngIf="!subscriptionInformation.duration && submitted"
          class="p-error"
        >
          Duration is required.
        </small>
      </div>
      <div class="p-field p-col-12 p-md-3">
        <label for="amount">Amount of gigabytes</label>
        <p-dropdown
          [options]="Gigabytes"
          (onChange)="calculatePrice()"
          [(ngModel)]="subscriptionInformation.amount"
          placeholder="Select Amount"
          optionLabel="name"
          [showClear]="true"
        ></p-dropdown>
        <small
          *ngIf="!subscriptionInformation.amount && submitted"
          class="p-error"
        >
          Amount is required.
        </small>
      </div>

      <div class="p-field p-col-12 p-md-3">
        <label for="zip">Upfront payment</label>
        <p-toggleButton
          [(ngModel)]="UpfrontPayment"
          (onChange)="calculatePrice()"
          onLabel="I confirm"
          offLabel="I reject"
          onIcon="pi pi-check"
          offIcon="pi pi-times"
          [style]="{ width: '10em', marginLeft: '2em' }"
        ></p-toggleButton>
        <br />
        <div class="isa_info">
          <i class="fa fa-info-circle"></i>
          If you agree to pay in advance, it will be reduced by 10%
        </div>
      </div>
    </div>
    <!-- </div> -->
    <ng-template pTemplate="footer">
      <div class="p-grid p-nogutter p-justify-end">
        <p-button
          label="Next"
          (onClick)="nextPage()"
          icon="pi pi-angle-right"
          iconPos="right"
        ></p-button>
      </div>
    </ng-template>
  </p-card>
</div>
